# Игнорируем внутренние системные файлы Visual Studio
.vs/

# Игнорируем директории сборки (куда CMake складывает бинарники и кэш)
out/
build/

# На всякий случай, если VS создаст локальные пользовательские настройки CMake
CMakeUserPresets.json